* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.main-container {
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    text-align: center;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin: 5px;
}

.main-container > * {
    display: block;
    margin: 15px auto;
}

input {
    width: 60%;
    padding: 5px;
    font-size: 2rem;
    border: 1px solid black;
}

textarea {
    width: 70%;
    min-height: 200px;
    height: auto;
    overflow-y: visible;
    font-size: 1.5rem;
    padding: 5px;
    border: 1px solid black;
}

button {
    width: 150px;
    height: 50px;
    background-color: lavender;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.return {
    display: inline-block;
    margin: 10px 15px;
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }
}