* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1 {font-size: 40px;}
h2 {font-size: 36px;}
h3 {font-size: 32px;}
h4 {font-size: 28px;}
h5 {font-size: 24px;}
h6 {font-size: 20px;}
p {font-size: 18px;}

.main-container {
    margin: 20px;
}

.form-container {
    position: relative;
    float: right;
    width: 38%;
}

.form-container form {
    margin: 0;
    padding-bottom: 60px;
}

.field {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 700;
}

input {
    height: 50px;
    width: 100%;
    padding: 8px;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    font-weight:700;
}

.add-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    min-width: 200px;
    height: 50px;
    font-size: 1.5rem;
    margin-top: 15px;
    border-radius: 5px;
}

.add-btn:focus {
    outline: none;
}

.list-container {
    width: 58%;
}

.list-container h2 {
    font-size: 48px;
}

.list {
    width: 100%;
    padding: 0;
    margin-top: 20px;
}

.list li:nth-child(2n - 1){
    background-color: lavender;
}

.todo {
    display: block;
    width: 100%;
    max-width: 800px;
    height: auto;
    min-height: 100px;
    padding: 10px;
    font-size: 1.5rem;
    list-style-type: none;
}

.todo a {
    text-decoration: none;
    color: black;
}

.todo a:hover {
    color: blue;
}


@media screen and (max-width: 700px){
    .form-container {
        float: initial;
        width: 100%;
    }

    .list-container {
        float:left;
        text-align: center;
        width: 100%;
    }

    .add-btn {
        position: static;
    }
}
