* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.main-container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    text-align: center;
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

p {
    font-size: 1.5rem;
}